.newsPage{
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 1.5rem;
}
.newsPage img{
    width: 100%;
    height: 80%;
    transition: all 0.2s linear;
    overflow: hidden;
}
.newsPage img:hover{
    transform: scale(1.08);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}
.news{
    padding-right: 1.5rem;
}
#newsText{
    text-align: center;
    font-weight: bold;
    padding-top: 0.3rem;
}