body{
    background-color: #2e2c36;
}
.name_table td {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
}
.legend_name{
    display: flex;
}
.box {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 7rem;
}
.name_srch {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4.75rem;
    margin-right: 4.75rem;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
    box-shadow: 0px 2px 10px 0px black;
    color: #d9b200;
}
.name_table{
    border-collapse: collapse;
}
.red:hover{
    background-color: #981038;
}
.blue:hover{
    background-color: #0c2b89;
}
table{      /* 테이블 중앙정렬*/
    margin-left: auto;
    margin-right: auto;
}
.legend_box{
    border-radius: 25px;
    margin: 2rem;
    background-color: aliceblue;
    box-shadow: 0px 2px 10px 0px black;
}
.box_left{
    width: 30%;
    text-align: center;
}
.box_right{
    width: 30%;
    padding-left: 2rem;
    text-align: center;
}
.box_middle{
    width: 40%;
}
.box_title{
    font-size: 20px;
    font-style: italic;
}
.legend_video{
    padding-top: 2rem;
    display: flex;
    height: 40%;
}
.txt {
    text-align: center;
}
.cup td{
    padding: 1rem;
}
.cup {
    text-align: center;
    padding-bottom: 2rem;
}
.legend_record{
    text-align: center;
    padding-top: 0.5rem;
}
.legend_record td{
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}
.cup_pep {
    text-align: center;
    padding-bottom: 1rem;
}
.cup_pep td{
    padding: 0.5rem;
}