.all_pl{
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 2rem;
}
.pl{
    padding-right: 1.5rem;
    width: 100%;
    height: 100%;
    text-align: center;
}
#sns{
    display: flex;
    justify-content: center;
}
#left{
    padding-right: 0.5rem;
}
#right{
    padding-left: 0.5rem;
}
p{
    color: black;
}
#name{
    color:black;
    font-weight: bold;
}
body{
    background-color: aliceblue;
}