.main{
    display: flex;
}
.main_left{
    width: 60%;
    text-align: center;
}
.club_history{
    background-color: aliceblue;
    border-radius: 25px;
    margin: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 3px 4px 10px 0px black;
}
.campnou, .culer, .mes, .rama{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: aliceblue;
    border-radius: 25px;
    margin: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: 3px 4px 10px 0px black;
}
.main_right{
    width: 40%;
    padding-right: 2rem;
    padding-left: 0.5rem;
    text-align: center;
}
.main_right table{
    margin-left: auto;
    margin-right: auto;
}
.winning, .play_club, .point_laliga, .point_ucl, .prize_all{
    margin: 1rem;
    border-radius: 25px;
    background-color: aliceblue;
    padding-bottom: 2rem;
    padding-top: 2rem;
    box-shadow: 3px 4px 10px 0px black;
}
.point_laliga{
    background-image: url(../image/laliga_back.webp);
    opacity: 1;
    color: antiquewhite;
}
.point_ucl{
    background-image: url(../image/ucl_back.jpg);
    opacity: 1;
    color: antiquewhite;
}
.win_cup td{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
}
.club_game td{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 1.5rem;
}
.laliga td{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
}
.ucl td{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
}
.prize td{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
}